/*
 * Copyright (c) 2015. The content in this file is Protected by the copyrightaws of kenya and owned by Api Craft Technology.
 *  Reproducing it in any way or using it without permission from Api Craft Technology will be a violation of kenyan copyrights law.
 *  This may be subject to prosecution according to the kenyan law.
 */

.panel.panel-red {
	border-color: #bf4346;
}

.panel.panel-red > .panel-heading {
	color: #FFFFFF;
	background: #bf4346;
	border-color: #bf4346 !important;
}

.panel.panel-red > .panel-footer {
	color: #FFFFFF;
	background: #bf4346;
	border-color: #bf4346 !important;
}

.panel.panel-orange {
	border-color: #e9662c;
}

.panel.panel-orange > .panel-heading {
	color: #FFFFFF;
	background: #e9662c;
	border-color: #e9662c !important;
}

.panel.panel-orange > .panel-footer {
	color: #FFFFFF;
	background: #e9662c;
	border-color: #e9662c !important;
}

.panel.panel-green {
	border-color: #488c6c;
}

.panel.panel-green > .panel-heading {
	color: #FFFFFF;
	background: #488c6c;
	border-color: #488c6c !important;
}

.panel.panel-green > .panel-footer {
	color: #FFFFFF;
	background: #488c6c;
	border-color: #488c6c !important;
}

.panel.panel-yellow {
	border-color: #f2994b;
}

.panel.panel-yellow > .panel-heading {
	color: #FFFFFF;
	background: #f2994b;
	border-color: #f2994b !important;
}

.panel.panel-yellow > .panel-footer {
	color: #FFFFFF;
	background: #f2994b;
	border-color: #f2994b !important;
}

.panel.panel-blue {
	background: #f2f5f6; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f5f6 0%, #c8d7dc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f5f6), color-stop(100%, #c8d7dc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f5f6 0%, #c8d7dc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f5f6 0%, #c8d7dc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2f5f6 0%, #c8d7dc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2f5f6 0%, #c8d7dc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f6', endColorstr='#c8d7dc', GradientType=0); /* IE6-9 */

	border-color: #d8d8d8;
}

.panel.panel-blue > .panel-heading {
	color: #FFFFFF;
	background: #0a819c;
	border-color: #0a819c !important;
}

.panel.panel-blue > .panel-footer {
	color: #FFFFFF;
	background: #0a819c;
	border-color: #0a819c !important;
}

.panel.panel-report {
	border-color: #ffffff;
}

.panel.panel-report > .panel-heading {
	color: #FFFFFF;
	background: #bf3773;
	border-color: #bf3773 !important;
}

.panel.panel-report > .panel-footer {
	color: #FFFFFF;
	background: #bf3773;
	border-color: #bf3773 !important;
}


.panel.panel-pink {
	border-color: #bf3773;
}

.panel.panel-pink > .panel-heading {
	color: #FFFFFF;
	background: #bf3773;
	border-color: #bf3773 !important;
}

.panel.panel-pink > .panel-footer {
	color: #FFFFFF;
	background: #bf3773;
	border-color: #bf3773 !important;
}

.panel.panel-violet {
	border-color: #9351ad;
}

.panel.panel-violet > .panel-heading {
	color: #FFFFFF;
	background: #9351ad;
	border-color: #9351ad !important;
}

.panel.panel-violet > .panel-footer {
	color: #FFFFFF;
	background: #9351ad;
	border-color: #9351ad !important;
}

.panel.panel-grey {
	border-color: #4b5d67;
}

.panel.panel-grey > .panel-heading {
	color: #FFFFFF;
	background: #4b5d67;
	border-color: #4b5d67 !important;
}

.panel.panel-grey > .panel-footer {
	color: #FFFFFF;
	background: #4b5d67;
	border-color: #4b5d67 !important;
}

.panel.panel-dark {
	border-color: #594857;
}

.panel.panel-dark > .panel-heading {
	color: #FFFFFF;
	background: #594857;
	border-color: #594857 !important;
}

.panel.panel-dark > .panel-footer {
	color: #FFFFFF;
	background: #594857;
	border-color: #594857 !important;
}

.panel.panel-white {
	border-color: #efefef;
}

.panel.panel-white > .panel-heading {
	border-bottom: 1px solid #faf9fb;
	color: #999999;
	background: #FFFFFF;
}

.panel.panel-white > .panel-footer {
	border-top: 1px solid #faf9fb;
	color: #999999;
	background: #FFFFFF;
}
.center{
	text-align: center;
}
.modal-header-pink{
	color: #FFFFFF;
	background: #bf3773;
	border-color: #bf3773 !important;
}
.modal-footer-pink {
	color: #FFFFFF;
	border-color: #bf3773 !important;
}
input[type="text"] {
	border-radius: 4px;
}
.column{
	padding: 0 20px;
}
.border-top{
	border-top-color: #ffffff !important;
	border-top-width: 2px;
}
.borderradius{
	border-radius: 5px;
	border: solid 2px #F3F4F5;
	color: #F3F4F5;
}
.records{
	float: right !important;
	font-style: italic;
	font-weight: bold;
}
.bold{
	font-weight: bolder;
}
.sort_asc:after{
	font-family: FontAwesome, serif;
	content: "\f01b";
}
.sort_desc:after{
	font-family: FontAwesome, serif;
	content: "\f01a";
}
.hrstyle{
	color: black;
	height: 3px;
}
.white{
	color: white;
}
.panel-body {
	margin:auto;
}

.button-dashboard {
	background: #ffffff;
	border-color: #bf3773 !important;
	border-style: solid;
	border-radius: 4px;
	width: 100%;
	color:#bf3773;
}

.button-dashboard:hover {
	background: #bf3773;
	border-color: #bf3773 !important;
	border-style: solid;
	border-radius: 4px;
	width: 100%;
	color:#ffffff;
}
.form-group{
	margin-bottom: 10px;
}

a:hover{
	color: #bf3773;
}
a:active{
	color: #bf3773;
}

a{
	color: #4074A1;
}

th a {
	color: #4074A1 !important;
	text-decoration: none;
	text-align: justify;
	font-weight:bold;
}
.dropdown {
	margin-right: 10px;
}
